@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  ul, ol {
    list-style: revert;
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
* {
  font-family: "Outfit", sans-serif;
}
body {
  color: var(--foreground);
  background: var(--background);
}
.dropdown:hover > .dropdown-menu {
  display: block;
}
.dropdown:hover > .dropdown-arrow {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.aest {
  @apply relative pt-3 text-main-10 text-xl font-semibold
}
.aest::after {
  content: '';
  @apply absolute top-0 left-0 bg-primary-10 h-[5px] w-24
}
